.SinglePage {
    .fotografiaProjektit {
        .emriProjektit {
            position: absolute;
            left: 17%;
            top: 80%;
            color: white;
            font-size: 40px;
            font-weight: 600;
            line-height: 47px;
        }
        .lokacioniProjektit {
            position: absolute;
            left: 17%;
            color: white;
            top: 87%;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
        }
    }
    .pershkrimiProjektit {
        display: flex;
        justify-content: center;
        height: auto;
        background: #f2f2f2;
        mix-blend-mode: normal;
        .vija {
            margin: auto 1% auto 1%;
            height: 40.5px;
            min-width: 2px;
            border-radius: 50px;
            background: #d2d2d2;
        }
        .statuset {
            width: 15%;
            display: block;
            text-align: initial;
            .emriPershkrimit {
                margin-bottom: 0px;
                font-weight: 500;
                font-size: 16px;
                line-height: 43px;
                color: #222222;
            }
            .statusiNgaJSON {
                font-weight: 300;
                font-size: 16px;
                line-height: 12px;
                color: #222222;
            }
        }
    }
    .kontentiProjektit {
        height: auto;
        .rreshtimi {
            .imazhi {
            }
        }
        .pershkrimiImazhit {
            display: flex;
            flex-direction: column;
            text-align: initial;
            justify-content: space-around;
            .detajetEprojektit {
                .titulli {
                    height: 65px;
                    font-weight: 500;
                    font-size: 36px;
                    font-weight: 55px;
                    color: #222222;
                }
                .tekstiSinglepage {
                    height: auto;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 32px;
                }
            }
            .materialet {
                .titulli {
                    height: 65px;
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 55px;
                }
                .listimiUL {
                    list-style-type: none;
                    // padding-left: 4%;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 32px;
                    height: auto;
                }
                ul li:before {
                    content: "\2014";
                    position: absolute;
                    margin-left: -28px;
                    // margin-right: 20px;
                }
            }

        }
    }
    .galleria{
        height: 100vh;
        background-color: #F2F2F2;
    }
}
