.SinglePage {
    .fotografiaProjektit {
        .emriProjektit {
            position: absolute;
            left: 5%;
            top: 80%;
            color: white;
            font-size: 40px;
            font-weight: 600;
            line-height: 47px;
        }
        .lokacioniProjektit {
            position: absolute;
            left: 5%;
            color: white;
            top: 87%;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
        }
    }
    .pershkrimiProjektit {
        display: flex;
        height: auto;
        background: #f2f2f2;
        mix-blend-mode: normal;
        .vija {
            margin: auto;
            margin-right: 1%;
            height: 40.5px;
            min-width: 2px;
            border-radius: 50px;
            background: #D2D2D2;
        }
        .statuset {
            display: block;
            text-align: initial;
            .emriPershkrimit {
                margin-bottom: 0px;
                font-weight: 500;
                font-size: 16px;
                line-height: 43px;
                color: #222222;
            }
            .statusiNgaJSON {
                font-weight: 300;
                font-size: 16px;
                line-height: 12px;
                color: #222222;
            }
        }
    }
}
