.allProjects {
    height: auto;
    align-items: center;
    .tekstiProjekteveTengjashme {
        display: flex;
        justify-content: space-between;
        .titulliProjekteve {
            color: #232d58;
            font-size: 40px;
            font-weight: 500;
            text-align: initial;
            line-height: 55px;
        }
        .numrimiProjekteve {
            font-weight: 300;
            font-size: 20px;
            line-height: 55px;
            text-align: right;
            color: #222222;
        }
    }
    .pershkrimiProjekteveTeRealizuara {
        margin: 0 auto;
        text-align: center;
        width: 877px;
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        color: #232d58;
    }
    .singleCard {
        width: 48%;
        margin: 15px auto;
        color: white;
        .cardTitle {
            position: relative;
            top: 60%;
            margin-left: 5%;
            text-align: initial;
            font-weight: 600;
            font-size: 40px;
            line-height: 40px;
        }

        .cardText {
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            position: relative;
            top: 60%;
            margin-left: 5%;
            text-align: initial;
        }
        p {
        }
    }
}