.header {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .logo {
        display: flex;
        height: 75px;
        margin-top: 10px;
        .imgLogo{
            cursor: pointer;
        }
    }
    .linqet {
        width: 40%;
        display: flex;
        .headerLink{
            margin: 0 auto;
            font-size: large;
            font-weight: 500;
            color: white;
        }
    }
    .languages {
        display: flex;
        .languagesButtons{
            color: white;
            font-size: large;
            font-weight: 500;
            margin: 0 10px;
        }
        .selectedLang{
            font-weight: 700;
        }
    }
    .headerB2Bbutton{
        cursor: pointer;
        width: 60px;
        text-decoration: none;
        border: 2px solid white;
        background-color: transparent;
        border-radius: 2px;
        border-color: white;
        color: white;
        font-size: x-large;
    }
}
