.footer {
    height: 100vh;
    background: linear-gradient(83.17deg, #090e21 -49.91%, #182354 62.75%);
    .top {
        .gradienti {
            position: absolute;
            width: 100%;
            height: 259px;
            background: linear-gradient(
                180deg,
                #ffffff -15.19%,
                rgba(255, 255, 255, 0.6) 55.21%,
                rgba(255, 255, 255, 0) 100%
            );
        }
        img {
            object-fit: cover;
            max-height: 64vh;
        }
    }
    .bottom {
        // margin-right: 3.1%;
        margin-top: 2%;
        height: 20%;
        color: white;
        display: flex;
        .footerBlocks {
            height: fit-content;
            .footer-links {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            .titulliFooter {
                color: #6e7594;
                font-size: 20px;
                width: 235px;
                text-align: initial;
            }
            .tekstiAboutUsFooter {
                width: 235px;
                text-align: initial;
            }
        }
    }
    .lastPart {
        margin-top: 2%;
        // margin-right: 0%;
        display: flex;
        .Copyright {
            color: white;

            text-align: initial;
        }
        .privacyPolicy {
            text-align: initial;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}
